<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.itheima.mapper.CheckGroupMapper">
 	<select id="pageQuery" resultType="com.itheima.pojo.CheckGroup" parameterType="String">
 		select * from t_checkgroup
 		<if test="value !=null and value!='' and value.length > 0">
 			where code = #{value} or name = #{value} or helpCode = #{value}
 		</if>
 	</select>
 	<insert id="updateCheckGroupIdAndCheckitemId" parameterType="map">
 		insert into t_checkgroup_checkitem(checkgroup_id,checkitem_id)values(#{checkGroupId},#{checkitemId})
 	</insert>
 	<insert id="add" parameterType="com.itheima.pojo.CheckGroup">
 		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
 			SELECT LAST_INSERT_ID()
 		</selectKey>
 		insert into t_checkgroup set code=#{code},name=#{name},helpCode=#{helpCode},remark=#{remark},attention=#{attention}
 	</insert>
 </mapper>